<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <title>CubeCrafter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100 dark:bg-slate-900 flex flex-col items-center justify-start">
    <h1 class="text-center text-4xl text-bold dark:text-white font-bold my-4">CubeCrafter</h1>

    {% block content %}{% endblock %}
</body>
</html>
